.storz-builder-wrap,
.cfet-builder-wrap {
  margin-top: 20px;
}

.storz-field-card,
.cfet-field-card {
  background: #fff;
  border: 1px solid #dcdcde;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,.04);
}

.storz-field-card input,
.storz-field-card select,
.storz-field-card textarea,
.cfet-field-card input,
.cfet-field-card select,
.cfet-field-card textarea {
  width: 100%;
  margin-bottom: 10px;
}
